@import './_colors/variables';

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: $font;
    background-color: $cream;
}


#app{
    width:90%;
    height: 90%;
    margin: auto;
}
.balance{
    padding: 20px;
    // height:120px;
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: $softRed;
}

.colBalance{
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: white;
    .regular{
        font-size: 13px;
        font-weight: $fontWeightL;
    }
    .bold{
        font-weight: $fontWeightM;
        font-size: 25px;
    }
}

// section charte

#charte{
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    background-color: $VeryPaleOrange;

    #graphique{
        height: 150px;
        display: flex;
        gap: 10px;
        .graph{
            height: 100%;
            background-color: red;
            width: 30px;
        }
    }

}

canvas{
    margin-top: 30px;
    width: 100%;
}

hr{
    height: 2px;
    margin-top: 20px;
    border: none;
    background-color: $cream;
}