@import './_colors/variables';

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: $cream;
}


#app{
    width:90%;
    height: 90%;
    margin: auto;
}
.balance{
    padding: 20px;
    // height:120px;
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: $softRed;
}

.colBalance{
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: white;
    .regular{
        font-family: $font;
        font-size: 13px;
        font-weight: $fontWeightL;
    }
    .bold{
        font-family: $font;
        font-weight: $fontWeightM;
        font-size: 25px;
    }
}